@import "../../../styles/utils";

.homepage-cities {
  width: 100%;
  margin-top: 50px;
  padding: 30px 0;
  background: $secondary-bg-color-lightblue;
  border-top: 1px solid $border-color-lightblue;
  border-bottom: 1px solid $border-color-lightblue;
  &__wrapper {
    @include flex-style(flex, column, flex-start, center);
  }
  &__block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
  &__title {
    margin-bottom: 25px;
    color: $text-color-blue;
    font-size: 20px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: normal;
  }
}

.cities-card {
  @include flex-style(flex, column, flex-start, center);
  &__icon-wrapper {
    display: flex;
    height: 98px;
    margin-bottom: 5px;
  }
  &__icon { 
    margin-top: auto;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__link-wrapper {
    position: relative;
    @include flex-style(flex, row, space-between);
    width: 70%;
    margin: 0 auto;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 47%;
      transform: translate(-50%, -50%);
      height: 75%;
      width: 2px;
      background: $text-color-blue;
    }
  }
  &__link {
    color: $text-color-blue;
  }
  &__link:hover{
    color:#256799;
  }
}


@media screen and (max-width: 1200px){
  .wrap-main-filter .additional-block-wrap .additional-block.active{
    flex-direction: column;
  }
  .wrap-main-filter .additional-block-wrap .additional-block .parametrs{
    width: 100%;
  }
}

@media screen and (max-width: 1070px){
  .cities-card__link-wrapper:after{
    display: none;

   
  }
  .cities-card__link-wrapper .cities-card__link a{
    font-size: 14px;
  }
}
@media screen and (max-width: 991px){
  .cities-card__link-wrapper{
    display: flex;
    flex-direction: column;
  }
  .wrap-main-filter .additional-block-wrap .additional-block .parametrs .facilities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: unset;
  }
}

@media screen and (max-width: 640px){
  .homepage-cities__block {
    grid-template-columns: repeat(1, 1fr);
    grid-gap:20px 0;
}
.cities-card__link-wrapper{
  width: 140px;
  flex-direction: row;
  position: relative;
  right: -5px;
}
.cities-card__link-wrapper:after{
  display: block;
}


.wrap-main-filter .additional-block-wrap .additional-block .parametrs .facilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: unset;
}
}