@import "../../../styles/utils";

.about {
  @include flex-style(flex, column);
  margin-bottom: 20px;
  &__title {
    margin-bottom: 35px;
    color: $section-title-color-black;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 26px;
    font-weight: 500;
  }
  &__text {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
  }
  &__button {
    align-self: flex-end;
    font-size: 14px;
  }
  &__button-text {
    margin-left: 8px;
    color: $secondary-button-color-darkblue;
  }
  .fas {
    color: $secondary-button-color-darkblue;
  }
}
