@import "../../../../styles/utils";

.news-card {
  @include flex-style(flex, column);
  width: 100%;
  margin-bottom: 35px;
  &__title {
    margin-bottom: 5px;
    color: $card-title-color-black;
    font-size: 24px;
    font-weight: 400;
  }
  &__post-date {
    @include flex-style(flex, row, flex-start, center);
    position: relative;
    height: 40px;
    padding-left: 40px;
    margin-bottom: 7px;
    font-size: 13px;
    font-weight: 300;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      height: 20px;
      width: 20px;
      background: url("/domlook/img/news-page/clock.png");
    }
  }
  &__photo-wrapper {
    max-height: 350px;
    height: auto;
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
    img{
      object-position: center;
      min-height: 205px;
    }
  }
  &__photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__description {
    color: $secondary-navigation-color-black;
    font-size: 14px;
  }
  &__link {
    color: $secondary-button-color-darkblue;
  }
}
