@import "../../../styles/utils";

.secondary-info {
  width: 100%;
  margin-bottom: 20px;
  padding: 25px 0 40px;
  background: $secondary-bg-color-lightblue;
  border-top: 1px solid $border-color-lightblue;
  border-bottom: 1px solid $border-color-lightblue;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px,1fr));
  }
}

.secondary-info-card {
  @include flex-style(flex, column, flex-start, center);
  &__title {
    margin-bottom: 8px;
    color: $text-color-blue;
    font-size: 16px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: bold;
    text-align: center;
  }
  &__text {
    width: 250px;
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 768px){
  .secondary-info__wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap:20px;
}
}
