.myObjects-title{
    background-color: #394041;
    display: inline-block;
    padding: 0 25px;
    color:#fff!important;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    font-size: 18px!important;
}
.wrap-objects{
    &__item{
        display: grid;
        grid-template-rows: 120px;
        grid-template-columns: minmax(100px, 165px) minmax(150px, 315px) minmax(180px, 290px) minmax(100px, 155px) minmax(100px, 155px) minmax(40px, 40px) ;
        border: 1px solid #dedede;
        margin-bottom: 30px;

        >div{
            border-right: 1px solid #dedede;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 22px;

            font-size: 14px;
        }
        >div:last-of-type{
            border-right: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            button{
                height: 40px;
                width: 40px;
                display: inline-block;
                border-bottom: 1px solid #dedede;
            }
            button:last-of-type{
                border-bottom: 0;
            }
            button:hover{
                i{
                    color: #007ba9;
                }
            }
        }
        &__photo{
            img{
                max-width: 120px;
            }
        }
        &__date{
           
            i{
                margin-right: 15px;
            }
        }
        &__status{
            background: #ebebeb;
        }
    }
}

@media (max-width: 1000px) {
  .objects {
    .inner-container h3 {
      display: flex;
      width: fit-content;
      margin: 0 auto 15px !important;
    }
  }
  .wrap-objects {
    max-width: 600px;
    margin: 0 auto;
    &__item {
      grid-template-rows: 250px;
      grid-template-columns: 1fr;
      & div {
        width: 100%;
      }
      &__photo img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &__desc {
        justify-content: center;
      }
      & > div:last-of-type {
        flex-direction: row;
        justify-content: center;
        & button {
          border-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .wrap-objects {
    &__item {
      & div {
        padding: 10px;
      }
    }
  }
}
