@import "../../../styles/utils";

.common-filters {
  min-width: 270px;
  height: 1000px;
  margin-right: 25px;
  padding: 20px 15px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid $form-border-color-lightblue;
}
