$secondary-bg-color-lightblue: #f5f9fb;
$footer-bg-color-blue: #3eaad8;
$pagination-active-color-blue: #43b7e8;
$price-bg-color: #4dc7ec;

$border-color-lightblue: #e5eff5;
$secondary-border-color: #52b3dc;
$card-border-color-lightblue: #b1dcf2;
$form-border-color-lightblue: #c9e8fb;
$pagination-button-border-color-grey: grey;
$news-filters-border-color-grey: #dedede;

$text-color-blue: #65c1eb;
$section-title-color-black: #414141;
$card-title-color-black: #394041;
$card-secondary-color-black: #6c6c6c;
$salecard-secondary-color-grey: #8b9293;
$news-card-color-black: #363636;
$secondary-button-color-darkblue: #256799;
$copyrights-color-lightblue: #a4d2e9;
$secondary-navigation-color-black: #808080;
$orange-color: #ff6300;
$orange-gradient-button-color: 
linear-gradient(0deg, rgba(239, 99, 1, 1) 0%, rgba(255, 197, 41, 1) 100%);

$darkblue-hover-color: #007ba9;

$fb-color: #3b5998;
$vk-color: #4b75a2;
$tw-color: #2186b2;
$google-color: #dc4a38;
