@import "../styles/utils";

.common-main {
  background: #fff;
}

.common-section {
  &__wrapper {
    @include flex-style(flex);
  }
  &__block {
    width: 100%;
  }
}

.common-about {
  margin-bottom: 74px;
  @include flex-style(flex, column);
  &__title {
    margin-bottom: 35px;
    color: $section-title-color-black;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 26px;
    font-weight: 500;
  }
  &__description {
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
  }
  &__button {
    align-self: flex-end;
    font-size: 14px;
    margin-top: 8px;
  }
  &__button-text {
    margin-left: 8px;
    color: $secondary-button-color-darkblue;
  }
  .fa-caret-up {
    color: $secondary-button-color-darkblue;
  }
}
