@import "../../../../styles/utils";

.vertical-card {
  @include flex-style(flex, column);
  position: relative;
  border: 1px solid $card-border-color-lightblue;
  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 24px;
    background: #000;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    .fa.fa-trash-o {
      color: #fff;
    }
  }
  &__price {
    position: absolute;
    top: 20px;
    left: 0;
    @include flex-style(flex, row, center, center);
    height: 40px;
    padding: 0 10px;
    background: $price-bg-color;
    color: #fff;
    font-size: 21px;
  }
  &__photo-wrapper {
    // height: 50%;
    height: 200px;
    width: 100%;
  }
  &__photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__info-wrapper {
    @include flex-style(flex, column, space-between, center);
    // height: 50%;
    height: 200px;
    width: 100%;
    padding: 10px 10px 24px;
  }
  &__title {
    color: $card-title-color-black;
    font-size: 17px;
    font-weight: 700;
  }
  &__description {
    font-size: 13px;
    text-align: center;
  }
  &__specification {
    @include flex-style(flex, row, flex-start);
    width: 72%;
  }
  &__area,
  &__floor,
  &__rooms {
    @include flex-style(flex, row, flex-start, center);
    position: relative;
    height: 22px;
    // line-height: 100%;
    padding-left: 25px;
    color: $card-secondary-color-black;
    font-size: 13px;
    font-weight: 500;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 2px;
      transform: translateY(-50%);
      height: 17px;
      width: 19px;
    }
  }
  &__area {
    margin-right: 5px;
    &:before {
      background: url("/domlook/img/card-icons/apartment-area-icon.png")
        no-repeat;
    }
  }
  &__floor {
    margin-right: 10px;
    &:before {
      background: url("/domlook/img/card-icons/floor-icon.png") no-repeat;
    }
  }
  &__rooms {
    &:before {
      background: url("/domlook/img/card-icons/rooms-icon.png") no-repeat;
    }
  }
}


@media screen and(max-width: 991px){
  .vertical-card__info-wrapper{
    max-height: 170px;
  }
  .vertical-card__specification{
    justify-content: center;
  }
  .home-ads-list__wrapper{
    grid-gap:10px;
  }
}
@media screen and(max-width: 576px){
  .vertical-card{
    max-width: 80%;
    margin: 0 auto;
  }
}

@media screen and(max-width: 400px){
  .vertical-card{
    &__photo-wrapper {
      height: 150px;
    }
    &__info-wrapper {
      padding-bottom: 15px;
    }
  }
}